@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("/fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html {
    font-family: "Muller", sans-serif;
}

* {
    box-sizing: border-box;
}
.body {
    background-color: #e5e5e5;
    margin: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 45px;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 45px;
    background-color: #fff;
    border-radius: 15px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-image {
    margin-right: 30px;
}

.header-number {
    font-weight: 500;
    font-size: 20px;
    color: #666666
}

.header-link {
    color: #CC9933;
}

.login {
    font-size: 24px;
}

.login-icon {
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-list {
    display: flex;
    color: #666666;
}

.header-item:not(:last-child) {
    margin-right: 45px;
}

.header-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.header-button {
    border: 1px solid #CC9933;
    border-radius: 10px;
    padding: 13px 20px;
    color: #CC9933;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

button {
    border: 0;
}

.header-button:not(:last-child) {
    margin-right: 40px;

}

a {
    text-decoration: none;
}

.offer-container {
    padding-bottom: 65px;
}

.section-offer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-offer-item-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 573px;
}

.section-offer-item-1 {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient( 90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7% ), url(../img/maldivi.jpg);
    background-repeat: no-repeat;
    height: 258px;
    padding: 40px 45px;
    min-height: 258px;
    border-radius: 15px;
}

.section-offer-item-2 {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient( 90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7% ), url(../img/krit.jpg);
    background-repeat: no-repeat;
    height: 258px;
    padding: 40px 45px;
    min-height: 258px;
    border-radius: 15px;
}

.section-offer-item-large {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../img/lux.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    width: 573px;
    padding: 40px 45px;
    height: 540px;
    border-radius: 15px;
}

.section-offer-header {
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.section-offer-item-name {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    width: 299px;
    color: white;
    margin-bottom: 15px;
}


.section-offer-item-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
    opacity: 0.8;
    margin-bottom: auto;
}

.section-offer-item-about {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    margin-right: 7px;
}
.section-offer-item-large-name {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin-top: auto;
}

.section-offer-item-large-price {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 47px;
}
.section-offer-item-icon {
    background-image: url("../img/arrow.svg");
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;

}
.section-offer-item-link {
  display: flex;
    align-items: center;
    line-height: 1;
}
.section-about-header {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-left: 40px;
    margin-bottom: 15px;
}
.section-about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    max-width: 888px;
    margin-bottom: 70px;
}
.section-service-link {
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.section-service-link-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
}
.section-service-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-left: 40px;
    margin-bottom: 20px;
}
.section-service-image {
    margin-bottom: 26px;
}
.section-service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    max-width: 402px;
    margin-left: 45px;
}
.section-service-link-arrow {
    margin-left: 10px;
}
.section-service-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
}
.section-service-item:not(:nth-child(2n)) {
    margin-right: 24px;
}
.section-service-item {
    padding-bottom: 25px;
}
